<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>uvygzba@tznvy.pbz</string>
	<key>contactName</key>
	<string>Hilton Lipschitz</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Hilton’s Bundle</string>
	<key>uuid</key>
	<string>F4D729A5-6E9F-4727-830F-EB996C36090B</string>
</dict>
</plist>
